<template name="layout">
  {{#ionBody}}

    {{#ionSideMenuContainer}}

      {{#ionSideMenus}}

        {{#ionSideMenu}}
          <div class="bar bar-header bar-dark">
            <h1 class="title">Menu</h1>
          </div>
          <div class="content has-header">
            {{#ionList}}
            <div class="list">
              <div class="item home item-icon-right" data-ion-menu-close>
                Home {{> ionIcon icon="ios-home"}}
              </div>
              <div class="item messenger item-icon-right" data-ion-menu-close>
                Messenger {{> ionIcon icon="ios-chatboxes"}}
              </div>
            </div>
            {{/ionList}}
          </div>
        {{/ionSideMenu}}

        {{!-- IGNORE RIGHT --}}
        {{#ionSideMenu side="right"}}
          <div class="bar bar-header bar-dark">
            <h1 class="title">Right Menu</h1>
          </div>
          <div class="content has-header">
            <div class="list">
              <div class="item item-icon-left" data-ion-menu-close>
                {{> ionIcon icon="ios-arrow-left"}} Close Me
              </div>
            </div>
          </div>
        {{/ionSideMenu}}

      {{/ionSideMenus}}

      {{#ionSideMenuContent}}

        {{> ionNavBar class="bar-royal"}}

        {{#ionNavView}}
          {{> yield}}
        {{/ionNavView}}

      {{/ionSideMenuContent}}

    {{/ionSideMenuContainer}}

  {{/ionBody}}
</template>
