@import 'mixins.css.scss';

.snaplancer {
  background-color: rgb(255, 214, 0);
  padding: 60px 20px;
  text-align: center;
  height: 150px;
  color: white !important;
}

.expandables {
  text-align: center;
  color: white !important;
}

.snap-text {
  height: 100%;
}

.general {
  background-color: #F5AE23;
}

.sgeneral {
  background-color: #F5AE23;
}

.localjobs   {
  background-color: #4A90E2;
}

.buildmystartup {
  background-color: #7ED321;
}

.designers {
  background-color: #D0021B;
}

.snap-title {
  a {
    color: white;
  }
  font-size: 24px;
  line-height: 30px;
  color: white;
  font-weight: 900;
}

.list {
  padding: 0px !important;
}

.explanation {
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}
