

.snaplancer {
  background-color: rgb(255, 214, 0);
  padding: 40px;
  text-align: center;
  min-height: 200px;
  color:  white;
}

.sgneral {
  background-color: rgb(255, 214, 0);
}

.localjobs {
  background-color: #4A90E2;
}

.buildmystartup {
  background-color: #7ED321;
}

.designers {
  background-color: #D0021B;
}
