

.snaplancer {
  background-color: rgb(255, 214, 0);
  padding: 40px;
  text-align: center;
  height: 400px;
}

.sgneral {
  background-color: rgb(255, 214, 0);
}

.localjobs {
background-color: rgb(255, 214, 0);
}
