<template name="homepage">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}
  {{!-- HEADER --}}
  {{#contentFor "headerTitle"}}
    <h1 class="title font-title color-on-primary">SnapLancer</h1>
  {{/contentFor}}

  {{!-- CONTENT --}}
  {{#ionView}}
    {{#ionContent}}
      <ul class="list">
        <div class="snaplancer general" data-id="general">
          <a class="link-hire" href="{{pathFor 'camera'}}"><div class="snap-title"> Hire a SnapLancer </div></a>
        </div>
        <div id="general" class="general expandables" style="display: none">
          <h1 style="margin: 0px">This is the hidden text</h1>
        </div>

        <div class="snaplancer localjobs" data-id="localjobs">
          <a href="{{pathFor 'camera'}}"><div class="snap-title"> Hire a SnapLancer </div></a>
        </div>
        <div id="localjobs" class="localjobs expandables" style="display: none">
          <h1 style="margin: 0px">This is the hidden text</h1>
        </div>

        <div class="snaplancer buildmystartup" data-id="buildmystartup">
          <a href="{{pathFor 'camera'}}"><div class="snap-title"> Hire a SnapLancer </div></a>
        </div>
        <div id="buildmystartup" class="buildmystartup expandables" style="display: none">
          <h1 style="margin: 0px">This is the hidden text</h1>
        </div>

        <div class="snaplancer designers" data-id="designers">
          <a href="{{pathFor 'camera'}}"><div class="snap-title"> Hire a SnapLancer </div></a>
        </div>
        <div id="designers" class="designers expandables" style="display: none">
          <h1 style="margin: 0px">This is the hidden text</h1>
        </div>
      </ul>
    {{/ionContent}}
  {{/ionView}}
</template>
