<template name="homepage">
  {{!-- HEADER --}}
  {{#contentFor "headerTitle"}}
    <h1 class="title font-title color-on-primary">SnapLancer</h1>
  {{/contentFor}}

  {{!-- CONTENT --}}
  {{#ionView}}
    {{#ionContent}}
      <ul class="list">
        <div class="snaplancer sgeneral">
          <h1> Hire a SnapLancer </h1>
        </div>

        <div class="snaplancer localjobs">
          <h1> Hire a SnapLancer </h1>
        </div>

        <div class="snaplancer-buildmystartup">
          <h1> Hire a SnapLancer </h1>
        </div>

        <div class="snaplancer-designers">
          <h1> Hire a SnapLancer </h1>
        </div>
      </ul>
    {{/ionContent}}
  {{/ionView}}
</template>
