<template name="messages">
  {{#contentFor "headerButtonLeft"}}
    <button class="button button-clear pull-left" data-ion-menu-toggle="left">
      {{> ionIcon icon='navicon'}}
    </button>
  {{/contentFor}}

  {{!-- HEADER --}}
  {{#contentFor "headerTitle"}}
    <h1 class="title font-title color-on-primary">Messenger</h1>
  {{/contentFor}}
  {{!-- CONTENT --}}
  {{#ionView}}
    {{#ionContent}}
      <div id="msg-container-01" class="messages-container">
        <ol class="list">
          {{#each getMessages}}
            {{#if isUser}}
              <li class="message message-right">{{content}}</li>
            {{/if}}
            {{#unless isUser}}
              {{#if isImage}}
                <li class="message message-left" style="text-align:center">
                  <img class="messages-image" src="{{content}}" alt="logo" height="75" />
                  <div class="messages-bool messages-green"> YES </div>
                  <div class="messages-bool messages-red"> NO </div>
                </li>
              {{/if}}
              {{#unless isImage}}
                <li class="message message-left">{{content}}</li>
              {{/unless}}
            {{/unless}}
          {{/each}}
        </ol>
      </div>

    {{/ionContent}}
      <form>
        <div class="bar bar-footer item-input-inset">
          <label class="item-input-wrapper">
            <input id="message-input" type="text" placeholder="Type a message..." />
          </label>
          <button id="message-submit" class="button-clear">Send</button>
        </div>
      </form>
  {{/ionView}}
</template>
