<template name="recruiter">
  {{!-- CONTENT --}}
  {{#ionView}}
    {{#ionContent}}
      <div id="msg-container-r" class="messages-container">
        <ol class="list">
          {{#each getMessages}}
            {{#if isUser}}
              <li class="message message-right">{{content}}</li>
            {{/if}}
            {{#unless isUser}}
              {{#if isImage}}
                <li class="message message-left" style="text-align:center">
                  <img class="messages-image" src="{{content}}" alt="logo" height="75" />
                  <div class="messages-bool messages-green"> YES </div>
                  <div class="messages-bool messages-red"> NO </div>
                </li>
              {{/if}}
              {{#unless isImage}}
                <li class="message message-left">{{content}}</li>
              {{/unless}}
            {{/unless}}
          {{/each}}
        </ol>
      </div>

    {{/ionContent}}
      <form>
        <div class="bar bar-footer item-input-inset footer-spacer">
          <label class="item-input-wrapper">
            <input id="message-input-r" type="text" placeholder="Type a message..." />
          </label>
          <button id="message-submit-r" class="button-clear">Send</button>
          <button id="image-submit-r" class="button-clear">Image</button>
        </div>
      </form>
  {{/ionView}}
</template>
